export(add.everywhere, add.random, allFurcTrees, anc.Bayes, anc.ML, anc.trend, ancThresh, applyBranchLengths, ave.rates)
export(bmPlot, bind.tip, branching.diffusion,brownie.lite, brownieREML)
export(contMap)
export(densityMap, drop.clade, drop.tip.simmap)
export(estDiversity, evol.rate.mcmc, evol.vcv, evolvcv.lite, exhaustiveMP, expm, export.as.xml)
export(fancyTree, fastAnc, fastBM, fastMRCA, findMRCA, fitBayes, fitDiversityModel)
export(gammatest, getDescendants, getExtant, getExtinct, getSisters)
export(lambda.transform, likMlambda, ls.tree, ltt)
export(make.era.map, make.simmap, map.overlap, matchNodes, minSplit, mrp.supertree, multiC, multi.mantel)
export(nodeHeights)
export(optim.phylo.ls, orderMappedEdge)
export(paintSubTree, paste.tree, pbtree, pgls.Ives,phenogram, phyl.cca, phyl.pairedttest, phyl.pca, phyl.resid, phyl.RMA, phyl.vcv)
export(phylANOVA, phyloDesign, phylomorphospace, phylomorphospace3d, phylosig, plotSimmap, plotThresh, plotTree, posterior.evolrate)
export(read.newick, read.simmap, reorderSimmap, reroot, rescaleSimmap, roundBranches, rstate)
export(sampleFrom, sim.corrs, sim.history, sim.rates, splitplotTree, splitTree, starTree)
export(threshBayes, threshDIC, threshState, treeSlice)
export(vcvPhylo)
export(write.simmap, writeNexus)
export(xkcdTree)
importFrom(calibrate, textxy)
importFrom(msm, MatrixExp)
importFrom(numDeriv, hessian)
importFrom(phangorn, allTrees, Ancestors, dist.hamming, NJ, nni, optim.parsimony, parsimony, phyDat, pratchet)

