export(add.color.bar, add.everywhere, add.random, allFurcTrees, anc.Bayes, anc.ML, anc.trend, ancThresh, applyBranchLengths)
export(ave.rates)
export(bmPlot, bind.tip, branching.diffusion,brownie.lite, brownieREML)
export(contMap, countSimmap)
export(densityMap, describe.simmap, drop.clade, drop.tip.simmap)
export(estDiversity, evol.rate.mcmc, evol.vcv, evolvcv.lite, exhaustiveMP, expm, export.as.xml, extract.strahlerNumber)
export(fancyTree, fastAnc, fastBM, fastMRCA, findMRCA, fitBayes, fitDiversityModel)
export(gammatest, getDescendants, getExtant, getExtinct, getSisters, getStates)
export(lambda.transform, likMlambda, ls.tree, ltt, ltt95)
export(make.era.map, make.simmap, map.overlap, matchNodes, minSplit, mrp.supertree, multiC, multi.mantel)
export(nodeHeights)
export(optim.phylo.ls, orderMappedEdge)
export(paintSubTree, paste.tree, pbtree, pgls.Ives,phenogram, phyl.cca, phyl.pairedttest, phyl.pca, phyl.resid, phyl.RMA, phyl.vcv)
export(phylANOVA, phyloDesign, phylomorphospace, phylomorphospace3d, phylosig, plotBranchbyTrait, plotSimmap, plotThresh, plotTree)
export(posterior.evolrate)
export(ratebystate, read.newick, read.simmap, reorderSimmap, repPhylo, reroot, rerootingMethod, rescaleSimmap, roundBranches)
export(rstate)
export(sampleFrom, sim.corrs, sim.history, sim.ratebystate, sim.rates, splitplotTree, splitTree, starTree, strahlerNumber)
export(threshBayes, threshDIC, threshState, to.matrix, treeSlice)
export(untangle)
export(vcvPhylo)
export(write.simmap, writeAncestors, writeNexus)
export(xkcdTree)
importFrom(calibrate, textxy)
importFrom(msm, MatrixExp)
importFrom(numDeriv, hessian)
importFrom(phangorn, allTrees, Ancestors, dist.hamming, NJ, nni, optim.parsimony, parsimony, phyDat, pratchet)

