export(add.everywhere, allFurcTrees, anc.trend, branching.diffusion)
export(brownie.lite, drop.clade, drop.tip.simmap, estDiversity, evol.rate.mcmc)
export(evol.vcv, exhaustiveMP, expm, fastBM, fitDiversityModel, gammatest)
export(lambda.transform, ls.tree, ltt, make.simmap, map.overlap, minSplit, mrp.supertree)
export(nodeHeights, optim.phylo.ls, paste.tree, phyl.cca, phyl.pairedttest, phyl.pca)
export(phyl.resid, phyl.RMA, phyl.vcv, phylANOVA, phyloDesign, phylomorphospace)
export(phylosig, plotSimmap, plotTree, posterior.evolrate, read.newick, read.simmap)
export(reorderSimmap, reroot, rstate, sim.history, sim.rates, splitTree, starTree)
export(treeSlice, write.simmap)
importFrom(calibrate, textxy)
importFrom(msm, MatrixExp)
importFrom(numDeriv, hessian)
